.priButton {
    height: 48px;
    background: #305367;
    border-radius: 4px;
}

.priButtonText {
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.secondaryButton {
    height: 48px;
    background: #ffffff;
    border-radius: 4px;
}

.secondaryButtonText {
    font-weight: 700;
    font-size: 16px;
    color: #305367;
}

